body{
    margin: 0px ;
    padding: 0px;
    background-image: radial-gradient(#968bacfc 25%, #c7c7c7 74%);
    font-family: system-ui;
}
.clearfix{
    clear: both;
}
.main{
    height: 1560px;
    width: 980px;
    background-color: white;
    box-shadow: 5px 7px 15px 5px #5d729a;
    margin: 90px auto;
}
.top-section{
    background-color: #1863ba;
    text-align: center;
    padding: 30px;
}
.profile{
    width: 150px;
    border-radius: 50%;
}
.p1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;   
}
.p6{
    color: #969595;
    margin-bottom: -5px;
    font-size: 15px;
}
.p1 span{
    font-weight: 100;
    color: white;
    font-weight: bold;
}
.p2{
    color: #c7c7c7;
    font-size: 30px;
    margin: 0px;
    margin-top: 10px;   
}
.col-div-4{
    width: 35%;
    float: left;
}
.col-div-8{
    width: 62%;
    float: left;
}
.line{
    border-left: 1px solid #3e4871 ;
    height: 950px;
    width: 2%;
    margin-top: 50px;
    float: left;
}
.content-box{
    padding: 20px;
}
.head{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.p3{
    color: #969595;
    margin-bottom: -5px;
}
.fa{
    color: #151b29;
}
.skills li{
    padding: 5px;
}
.skills li span{
    color: #969595;
}
.p-4{
    font-size: 14px;
    color: #969595;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 90%;
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }